{{#paper-item class="less-padding md-2-line"}}
  {{#if (eq event.event 1)}}
    {{#paper-icon "trending_up" accent=true}}{{/paper-icon}}
    <div class="md-list-item-text" style="border-right: 8px;border-left: 8px">
      {{event.date_time}}
        <p>
          {{#if event.description}}
            {{event.description}}
          {{else}}
              Da Inicio el Encuentro
          {{/if}}
        </p>
      {{paper-divider}}
    </div>
  {{/if}}

  {{#if (eq event.event 2)}}
    {{#paper-icon "star_rate" primary=true spin=true}}{{/paper-icon}}

    <div class="md-list-item-text" style="border-right: 8px;border-left: 8px">
      {{event.date_time}}
      <p>
        {{#if event.player_id.nick_name}}
          "{{event.player_id.nick_name}}" De
        {{else}}
          {{event.player_id.name}} De
        {{/if}}
        {{event.team_id.name}} Anotó
      </p>
      <p>
        {{#if event.description}}
          {{event.description}}
        {{/if}}
      </p>
      {{paper-divider}}
    </div>
  {{/if}}



  {{#if (eq event.event 3)}}
    {{#paper-icon "warning" warn=true}}{{/paper-icon}}
    <div class="md-list-item-text" style="border-right: 8px;border-left: 8px">
      {{event.date_time}}
      <p>
        {{#if event.player_id.nick_name}}
          "{{event.player_id.nick_name}}" De
        {{else}}
          "{{event.player_id.name}}" De
        {{/if}}
        {{event.team_id.name}} Cometió una Falta
      </p>
      <p>
        {{#if event.description}}
          {{event.description}}
        {{/if}}
      </p>
      {{paper-divider}}
    </div>
  {{/if}}

  {{#if (eq event.event 4)}}
    {{#paper-icon "cached" primary=true spin=true}}{{/paper-icon}}
    <div class="md-list-item-text" style="border-right: 8px;border-left: 8px">
      {{event.date_time}}
      <p>
        {{event.team_id.name}} Ha Realizado un Cambio
      </p>
      <p>
        {{#if event.description}}
          {{event.description}}
        {{/if}}
      </p>
      {{paper-divider}}
    </div>
  {{/if}}

  {{#if (eq event.event 5)}}
    {{#paper-icon "timer" primary=true}}{{/paper-icon}}
    <div class="md-list-item-text" style="border-right: 8px;border-left: 8px">
      {{event.date_time}}
      <p>
        Tiempo Fuera Por {{event.team_id.name}}
      </p>
      <p>
        {{#if event.description}}
          {{event.description}}
        {{/if}}
      </p>
      {{paper-divider}}
    </div>
  {{/if}}

  {{#if (eq event.event 6)}}
    {{#paper-icon "trending_down" accent=true}}{{/paper-icon}}
    <div class="md-list-item-text" style="border-right: 8px;border-left: 8px">
      {{event.date_time}}
      <p>
        Ha Finalizado el Partido
      </p>
      <p>
        {{#if event.description}}
          {{event.description}}
        {{/if}}
      </p>
      {{paper-divider}}
    </div>
  {{/if}}
{{/paper-item}}
