{{#paper-list}}
  {{#paper-subheader}}Equipos{{/paper-subheader}}
  {{#each model as |team|}}
    {{#paper-item class="md-3-line" onClick=(action (transition-to 'teams.detail' team.id)) as |control|}}
        <img src={{team.image}} alt={{team.name}} class="md-avatar">
        <div class="md-list-item-text">
            <strong><h3><b>{{team.name}}</b></h3></strong>
            <em><h4>Entrenador: {{team.coach}}</h4></em>
            <em><h4>Jugadores: {{team.players.length}}</h4></em>
            <p>{{team.description}}</p>
        </div>
        {{!TODO esto debe enviar el equipo a la lista de favoritos del usuario}}
        {{#control.button secondary=true iconButton=true raised=true accent=true}}
          {{paper-icon "favorite"}}
        {{/control.button}}
    {{/paper-item}}
  {{/each}}
{{/paper-list}}

