{{!Menu Lateral}}
{{#paper-sidenav-container class="inner-sidenav"}}
  {{#paper-sidenav
    class="md-whiteframe-z2"
    name="left"
    open=leftSideBarOpen
    onToggle=(action (mut leftSideBarOpen))
  }}
  {{!Toolbar Lateral}}
    {{#paper-toolbar tall=true as |toolbar| }}
    {{!TODO este titulo debe quedar más bonito}}
        <div class="layout-row layout-align-center">
            <h4>TORNEO ULTIMATE</h4>
        </div>
        <div class="layout-row layout-align-center">
            <h5> Guarne 2017</h5>
        </div>
    {{/paper-toolbar}}

    {{#paper-content padding=true}}
    {{!TODO llenar esto con elementos del menu}}
      {{#paper-list}}
        {{#paper-item onClick=(action (transition-to 'index'))}}
          {{paper-icon "swap_vertical_circle"}}
          <p>Juegos en Curso</p>
        {{/paper-item}}

        {{#paper-item onClick=(action (transition-to 'calendar'))}}
          {{paper-icon "date_range"}}
          <p>Calendario</p>
        {{/paper-item}}

        {{#paper-item onClick=(action (transition-to 'scoreboard'))}}
          {{paper-icon "list"}}
          <p>Fases del Torneo</p>
        {{/paper-item}}

        {{#paper-item onClick=(action (transition-to 'teams'))}}
          {{paper-icon "people"}}
          <p>Equipos</p>
        {{/paper-item}}
        {{#paper-item onClick=(action (transition-to 'events.add'))}}
          {{paper-icon "backup"}}
          <p>Añadir Evento</p>
        {{/paper-item}}
        {{#paper-item onClick=(action (transition-to 'donations'))}}
          {{paper-icon "face"}}
          <p>Más Información</p>
        {{/paper-item}}
      {{/paper-list}}
    {{/paper-content}}
  {{/paper-sidenav}}

  {{!Toolbar Primario}}
  {{#paper-card-content class="flex"}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        {{#paper-sidenav-toggle name="left" as |toggleAction|}}
          {{#paper-button iconButton=true classNames="hide-gt-sm" onClick=(action toggleAction)}}
            {{paper-icon "menu"}}
          {{/paper-button}}
        {{/paper-sidenav-toggle}}
        <h3>
          {{titleText}}
        </h3>
        <span class="flex"></span>
        {{!TODO añadir algo util aqui, por ejemplo creditos y cosas de nextria}}
        {{#paper-button iconButton=true onClick=(action (transition-to 'index'))}}
          {{paper-icon "cached"}}
        {{/paper-button}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}
    {{outlet}}
  {{/paper-card-content}}
{{/paper-sidenav-container}}
